.place__title-with-web {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0px 0px 60px;
}

@media (max-width: 1024px) {
    .place__title-with-web {
        margin: 0px 0px 40px;
    }

@media (max-width: 426px) {
    .place__title-with-web {
        margin: 0px auto 32px;
        width: calc(100% - 32px);
    }

