.video__title {
	font-size: 72px;
	line-height: 78px;
	max-width: 800px;
	text-align: center;

}

@media (max-width: 769px) {
    .video__title {
        font-size: 42px;
		line-height: 46px;
		margin-bottom: 24px;
    }
}

@media (max-width: 426px) {
    .video__title {
        font-size: 32px;
		line-height: 35px;
		margin-bottom: 16px;
    }
}
