.intro {
    width: 83%;
    margin: 0px auto 92px;
}

@media (max-width: 1024px) {
    .intro {
        width: calc(100% - 96px);
    }
}


@media (max-width: 768px) {
    .intro {
        width: calc(100% - 48px);
    }
}

@media (max-width: 426px) {
    .intro {
        width: calc(100% - 32px);
        margin: 0px auto 64px;
    }
}